<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-3.1</feature>
        <feature>jaxrs-2.0</feature>
        <feature>jsonp-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>mpConfig-1.1</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port+0}" id="defaultHttpEndpoint"  host="*" />
    <httpEndpoint httpPort="${default.http.port+1}" id="testHttpEndpoint"  host="*" />
    <httpEndpoint httpPort="${default.http.port+2}" id="qaHttpEndpoint"  host="*" />
    <httpEndpoint httpPort="${default.http.port+3}" id="prodHttpEndpoint"  host="*" />

    <virtualHost id="vh-test">
        <hostAlias>localhost::${default.http.port+1}</hostAlias>
    </virtualHost>
    <virtualHost id="vh-qa">
        <hostAlias>localhost::${default.http.port+2}</hostAlias>
    </virtualHost>
    <virtualHost id="vh-prod">
        <hostAlias>localhost::${default.http.port+3}</hostAlias>
    </virtualHost>

    <webApplication id="displayCarTypes" location="displayCarTypes.war" contextRoot="/" />

    <webApplication id="obtainCarTypesDev" name="obtainCarTypesDev" location="obtainCarTypes.war" contextRoot="/carTypes" >
        <classloader>
            <commonLibrary>
                <folder dir="${wlp.install.dir}/../../../../obtainCarTypes/db/dev" />
            </commonLibrary>
        </classloader>
    </webApplication>

    <webApplication id="obtainCarTypesTest" name="obtainCarTypesTest" location="obtainCarTypes.war" contextRoot="/carTypes" >
        <classloader>
            <commonLibrary>
                <folder dir="${wlp.install.dir}/../../../../obtainCarTypes/db/test" />
            </commonLibrary>
        </classloader>
        <web-bnd moduleName="obtainCarTypesTest">
            <virtual-host name="vh-test" />
        </web-bnd>
    </webApplication>

    <webApplication id="obtainCarTypesQA" name="obtainCarTypesQA" location="obtainCarTypes.war" contextRoot="/carTypes" >
        <classloader>
            <commonLibrary>
                <folder dir="${wlp.install.dir}/../../../../obtainCarTypes/db/qa" />
            </commonLibrary>
        </classloader>
        <web-bnd moduleName="obtainCarTypesQA">
            <virtual-host name="vh-qa" />
        </web-bnd>
    </webApplication>

    <webApplication id="obtainCarTypesProd" name="obtainCarTypesProd" location="obtainCarTypes.war" contextRoot="/carTypes" >
        <classloader>
            <commonLibrary>
                <folder dir="${wlp.install.dir}/../../../../obtainCarTypes/db/prod" />
            </commonLibrary>
        </classloader>
        <web-bnd moduleName="obtainCarTypesProd">
            <virtual-host name="vh-prod" />
        </web-bnd>
    </webApplication>
</server>
