.ordinalPriorities {
    text-align: center; /* Align the image in the center of the div */
    margin-top: 15px;
}

.ordinalPriorities > img {
    height: 350px;
    width: 550px;
}

.carSite {
    margin: 0;
}

.carSiteTitle {
    text-align: center; 
    font-size: 18px; 
    background-color: blue; 
    color: white; 
    height: 30px; 
    padding: 5px 0px;
}

.carsGrid td {
    padding: 5px 10px;
}

.carsGrid td img {
    height:30px;
    width:30px;
}

.devOpsPipeline {
    float: center;
    text-align: center;
}
