.ordinalPriorities {
    text-align: center; /* Align the image in the center of the div */
}

.ordinalPriorities > img {
    width: 75%;
    min-width: 350px;
    max-width: 550px;
}

.carSite {
    border-top: 3px solid #ffb000;
    padding-top: 32px;
    text-align: center;
    margin: 0;
    font-family: arial;
    background:#323752;
    color: #ffffff;
}

.carLogo {
    height: 42px;
    width: 47px;
}

.carSiteTitle {
    text-align: center; 
    font-size: 18px;
    font-family: Asap-medium;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background:#ffffff;
    border:2px solid #f4b23e;
    border-radius:4px;
    width:106px;
    height:70px;
    text-align:center;
    margin: 5px auto;
}

.cardText {
    font-family:Asap-SemiBold;
    font-size:16px;
    color:#333851;
    letter-spacing:0;    
    border-bottom: 2px solid #ffb000;
    line-height: 70px; /* Important to center text vertically inside the card */
}

.devOpsPipeline {
    float: center;
    text-align: center;
}
