.ordinalPriorities {
    text-align: center; /* Align the image in the center of the div */
}

.ordinalPriorities > img {
    width: 75%;
    min-width: 350px;
    max-width: 550px;
}

.carSite {
    margin: 0;
    font-family: arial;
}

.carSiteTitle {
    text-align: center; 
    font-size: 18px; 
    background-color: #555; 
    color: white; 
    height: 30px;
    line-height: 30px;  /* vertically centers the text within the title */ 
    padding: 5px 0px;
    margin-top: 0px;
}

.carsGrid td {
    padding: 5px 10px;
}

.carsGrid td img {
    height:30px;
    width:30px;
}

.devOpsPipeline {
    float: center;
    text-align: center;
}
